body {
    background-color: rgb(226, 200, 167);
    color: rgb(18, 16, 16);
}
.conteiner {
    margin: 0 auto;
    width: 40vw;
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    
    
    background-color: rgb(223, 141, 173);
    
}
.list {
    width: 80%;
    height: 97%;
    background-color: rgb(179, 132, 199);
    margin: 1%;
}
.manager {
    background-color: rgb(149, 206, 121);
    margin: 1%
}
